In [35]:
import pandas as pd
from pandas import DataFrame

In [36]:
data = pd.read_csv('data.csv', names=["userid","item","category","buy","time"])

In [37]:
data.head()

   userid     item  category  buy        time
0     100  1603476   2951233  buy  1511579908
1     100  2971043   4869428  buy  1511617549
2     100   598929   2429887  buy  1511759458
3     100  1046201   3002561  buy  1511767298
4     100  1606258   4098232  buy  1511789940

In [38]:

print("item:",len(data["item"].unique()))
print("category:",len(data["category"].unique()))
print("userid:",len(data["userid"].unique()))
print("count:",data.count())

item: 777745
category: 6814
userid: 29154
count: userid      2745852
item        2745852
category    2745852
buy         2745852
time        2745852
dtype: int64

In [39]:
data["buy_flag"] = (data["buy"]=="buy")
data["buy_flag"] =data["buy_flag"].astype('int')

In [40]:
data_sort=data.sort_values(by=["time"])
data_sort["buy_flag"] = (data_sort["buy"]=="buy").astype('int')

In [41]:
data_sort.head()

          userid     item  category buy        time  buy_flag
1787253   170980  1500112   4145813  pv       44016         0
1668308    16508   550769   2440115  pv  1423230247         0
1450562   153760  4246496   3077776  pv  1499073872         0
1450563   153760  4105761   3077776  pv  1499073932         0
63761    1000169  1328010    959452  pv  1505117799         0

In [42]:
data_sort.count()

userid      2745852
item        2745852
category    2745852
buy         2745852
time        2745852
buy_flag    2745852
dtype: int64

In [43]:
int(2745852 * 0.8)

2196681

In [44]:
data_train = data_sort[:2196682]
data_test = data_sort[2196682:]

In [45]:
data_train.shape
data_test.shape

(549170, 6)

In [46]:
print(len(data_train[data_train["buy_flag"]==1]))
print(len(data_train[data_train["buy_flag"]==0]))
print(len(data_test[data_test["buy_flag"]==1]))
print(len(data_test[data_test["buy_flag"]==0]))

49270
2147412
10705
538465

In [1]:
49270 +2147412

2196682

In [2]:
10705 +538465

549170

In [52]:
data_train = data_train[["userid", "item", "category", "buy_flag"]]
data_test = data_test[["userid", "item", "category", "buy_flag"]]

In [53]:
data_train.to_csv("data_train.csv", index=False)
data_test.to_csv("data_test.csv", index=False)

In [54]:
data_test.head()

         userid     item  category  buy_flag
953650   128480  3193887   2590256         0
2249580  193287  4873573   1396935         0
2113431  187075   681179   2355072         0
1549944  158731   174998   2640118         0
1784375  170874  1023852   2520377         0

In [47]:
data.head()
data.tail()

         userid     item  category buy        time  buy_flag
2745847  218275  2772813   1577687  pv  1511968210         0
2745848  218275  4654492   1577687  pv  1511968268         0
2745849  218275  2772813   1577687  pv  1511968277         0
2745850  218275  1207527   1577687  pv  1511968370         0
2745851  218275  1525621   1577687  pv  1511968400         0

In [12]:
data_sort = data_sort[["userid", "item", "category", "buy_flag"]]

KeyError: "['buy_flag'] not in index"

In [13]:
data_sort.to_csv("data_buy.csv", index=False)

In [60]:
data.head()

   userid     item  category  buy_flag
0     100  1603476   2951233         1
1     100  2971043   4869428         1
2     100   598929   2429887         1
3     100  1046201   3002561         1
4     100  1606258   4098232         1

In [61]:
help(DataFrame.to_csv)

Help on function to_csv in module pandas.core.generic:

to_csv(self, path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, date_format=None, doublequote=True, escapechar=None, decimal='.')
    Write object to a comma-separated values (csv) file.

    .. versionchanged:: 0.24.0
        The order of arguments for Series was changed.

    Parameters
    ----------
    path_or_buf : str or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.  If a file object is passed it should be opened with
        `newline=''`, disabling universal newlines.

        .. versionchanged:: 0.24.0

           Was previously named "path" for Series.

    sep : str, default ','
        String of length 1. Field delimiter for the output file.
    na_rep : str, default ''
        Missing data representation.
    float_format : str, default None
        Format string for floating point numbers.
    columns : sequence, optional
        Columns to write.
    header : bool or list of str, default True
        Write out the column names. If a list of strings is given it is
        assumed to be aliases for the column names.

        .. versionchanged:: 0.24.0

           Previously defaulted to False for Series.

    index : bool, default True
        Write row names (index).
    index_label : str or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. If
        False do not print fields for index names. Use index_label=False
        for easier importing in R.
    mode : str
        Python write mode, default 'w'.
    encoding : str, optional
        A string representing the encoding to use in the output file,
        defaults to 'utf-8'.
    compression : str, default 'infer'
        Compression mode among the following possible values: {'infer',
        'gzip', 'bz2', 'zip', 'xz', None}. If 'infer' and `path_or_buf`
        is path-like, then detect compression from the following
        extensions: '.gz', '.bz2', '.zip' or '.xz'. (otherwise no
        compression).

        .. versionchanged:: 0.24.0

           'infer' option added and set to default.

    quoting : optional constant from csv module
        Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric.
    quotechar : str, default '\"'
        String of length 1. Character used to quote fields.
    line_terminator : str, optional
        The newline character or character sequence to use in the output
        file. Defaults to `os.linesep`, which depends on the OS in which
        this method is called ('\n' for linux, '\r\n' for Windows, i.e.).

        .. versionchanged:: 0.24.0
    chunksize : int or None
        Rows to write at a time.
    date_format : str, default None
        Format string for datetime objects.
    doublequote : bool, default True
        Control quoting of `quotechar` inside a field.
    escapechar : str, default None
        String of length 1. Character used to escape `sep` and `quotechar`
        when appropriate.
    decimal : str, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting csv format as a
        string. Otherwise returns None.

    See Also
    --------
    read_csv : Load a CSV file into a DataFrame.
    to_excel : Write DataFrame to an Excel file.

    Examples
    --------
    >>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
    ...                    'mask': ['red', 'purple'],
    ...                    'weapon': ['sai', 'bo staff']})
    >>> df.to_csv(index=False)
    'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'